<div class="panel panel-default" data-bind="shortcuts: { 'esc': close, 'enter': submit, 'left': wizard.back({ model: 'views/article-create/selectlocation', activationData: articlename() }) }">
	<div class="panel-heading">
		<button data-bind="click: close" type="button" class="close btn btn-default">&times;</button>
		<h2 class="panel-title">Review article</h2>
	</div>
	<form data-bind="submit: submit">
	<div class="panel-body">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<p class="form-control-static" data-bind="text: articlename"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Area</label>
				<div class="col-sm-10">
					<p class="form-control-static" data-bind="text: area"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<ul class="actions">
			<li>
				<button data-bind="click: submit" class="forward btn btn-success autofocus">Create <span data-bind="text: articlename"></span></button>
			</li>
			<li>
				<button data-bind="click: wizard.back({ model: 'views/article-create/selectlocation', activationData: articlename() })" class="back btn btn-default">&larr; Change area</button>
			</li>
		</ul>
	</div>
	</form>
</div>