{{< base.nun.html}}

{{+ title}}Recipe Demo{{/ title}}
{{+ heading}}Recipe Demo{{/ heading}}

{{+ style}}
<style>
#container,
#containers > li > a {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#containers {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
    #containers > li {
        float: left;
        display: block;
        
        margin: 5px;
        padding: 0px;
        
        font-size: 10px;
    }
    
        #containers > li > a {
            width: 125px;
            height: 125px;
            
            display: inline-block;
            
            margin: 0px;
            padding: 0px;
            
            text-decoration: none;
        }
        
            #containers > li > a:hover {
                background-color: rgba(255, 255, 255, 0.15);
            }
        
            #containers > li > a:active {
                background-color: rgba(255, 255, 255, 0.05);
            }

            #containers > li.add > a {
                width: 50px;
                border: none;
            }

a.disabled {
    opacity: 0.3;
}
</style>
{{/ style}}

{{+ script}}
<script>
var actionFactory = {
    useContainer: function (key) {
        return {
            name: 'Use container',
            key: key,
            prev: null,
            apply: function (action) {
                var container = viewModel.resources.containers.filter(function (container) {
                    return container.key == action.key;
                })[0];
                
                action.target = {
                    item: ko.observable({
                        key: container.key,
                        name: container.name,
                        ingredients: ko.observableArray([]),
                        method: ko.observableArray([])
                    }),
                    action: ko.observable(action)
                };
                viewModel.containers.push(action.target);
                
                action.name = 'Use ' + container.name;
                viewModel.actions.push(action);
            },
            undo: function (action) {
                action.target.item = null;
                viewModel.containers.remove(action.target);
                viewModel.actions.remove(action);
            }
        };
    },
    addIngredient: function (key, container) {
        return {
            name: 'Add ingredient',
            target: container,
            key: key,
            prev: null,
            apply: function (action) {
                var ingredient = viewModel.resources.ingredients.filter(function (ingredient) {
                    return ingredient.key == action.key;
                })[0];
                
                action.prev = action.target.action;
                action.target.action = action;
                action.target.item().ingredients.push(ingredient);
                
                action.name = 'Add ' + ingredient.name + ' to ' + action.target.item().name;
                viewModel.actions.push(action);
            },
            undo: function (action) {
                action.target.action = action.target.action.prev;
                action.target.item().ingredients.pop();
                viewModel.actions.remove(action);
            }
        }
    },
    addMethod: function (key, container) {
        return {
            name: 'Add action',
            target: container,
            key: key,
            prev: null,
            apply: function (action) {
                var method = viewModel.resources.methods.filter(function (method) {
                    return method.key == action.key;
                })[0];
                
                action.prev = action.target.action;
                action.target.action = action;
                
                var methodDescription = method.name
                    + ' '
                    + action.target.item().ingredients()
                        .map(function (ingredient) {
                            return ingredient.name;
                        })
                        .join(', ');
                
                // get all the ingredients up until this point
                action.target.item().method.push({
                    name: methodDescription,
                    ingredients: action.target.item().ingredients()
                });
                
                action.target.item().ingredients([]);
                
                action.name = methodDescription;
                viewModel.actions.push(action);
            },
            undo: function (action) {
                action.target.action = action.target.action.prev;
                action.target.item().ingredients.pop();
                viewModel.actions.remove(action);
            }
        }
    }
};

var viewModel = {
    // resources for pickers etc.
    resources: {
        containers: [
            { key: 1, name: 'Bowl' },
            { key: 2, name: 'Oven' },
            { key: 3, name: 'Chopping Board' }
        ],
        ingredients: [
            { key: 1, name: 'Olives' },
            { key: 2, name: 'Egg' },
            { key: 3, name: 'Butter' }
        ],
        methods: [
            { key: 1, name: 'Chop' },
            { key: 2, name: 'Mix' },
            { key: 3, name: 'Cook' }
        ]
    },
    
    // the data we are building up
    containers: ko.observableArray([]),
    actions: ko.observableArray([]),
    
    // the main screen showing all the containers
    mainScreen: {
        useContainer: function () {
            var action = actionFactory.useContainer(1);
            action.apply(action);
        },
        undo: function () {
            var lastAction = viewModel.lastAction();
            if (lastAction == null)
                return;
            lastAction.undo(lastAction);
        }
    },
    
    // a selected container
    containerScreen: {
        container: ko.observable()
    },
    
    // a screen to select a new container to use
    useContainerScreen: {
        isVisible: ko.observable(false),
        useContainer: function (container) {
            var action = actionFactory.useContainer(container.key);
            action.apply(action);
            viewModel.useContainerScreen.isVisible(false);
            viewModel.containerScreen.container(viewModel.containers()[viewModel.containers().length - 1]);
        }
    },
    
    // a screen to add ingredients
    addIngredientScreen: {
        isVisible: ko.observable(false),
        addIngredient: function (ingredient, container) {
            var action = actionFactory.addIngredient(ingredient.key, container);
            action.apply(action);
            viewModel.addIngredientScreen.isVisible(false);
        }
    },
    
    // a screen to add actions
    addMethodScreen: {
        isVisible: ko.observable(false),
        addMethod: function (method, container) {
            var action = actionFactory.addMethod(method.key, container);
            action.apply(action);
            viewModel.addMethodScreen.isVisible(false);
        }
    }
};
$.extend(viewModel, {
    lastAction: ko.dependentObservable(function () {
        if (viewModel.actions().length == 0)
            return null;
        return viewModel.actions()[viewModel.actions().length - 1];
    })
});
$.extend(viewModel.containerScreen, {
    isVisible: ko.dependentObservable(function () {
        return viewModel.containerScreen.container
            && viewModel.containerScreen.container() != null
            && !viewModel.addIngredientScreen.isVisible()
            && !viewModel.addMethodScreen.isVisible();
    })
});
$.extend(viewModel.mainScreen, {
    isVisible: ko.dependentObservable(function () {
        return !viewModel.containerScreen.isVisible()
            && !viewModel.useContainerScreen.isVisible()
            && !viewModel.addIngredientScreen.isVisible()
            && !viewModel.addMethodScreen.isVisible();
    })
});
$(function() {
    ko.applyBindings(viewModel);
});
</script>
{{/ script}}

{{! shapeshift }}
{{= <% %>}}

<%+ article%>
<section class="wizard">
    <div class="inner">
        <div class="pane" data-bind="visible: mainScreen.isVisible()">
            <a href="#" data-bind="click: mainScreen.undo, css: { disabled: actions().length == 0 }">Undo action</a>
            <ul id="containers" data-bind='template: { name: "containersTemplate", foreach: containers }'>
                <script id="containersTemplate" type="text/x-jquery-tmpl">
                <li>
                    <a href="#" data-bind="click: function () { viewModel.containerScreen.container($data); }">
                        <!-- need some way to visualise whats in a pot -->
                        <span data-bind="text: item().name"></span>
                        <ul>{{each item().ingredients}}
                            <li><span data-bind="text: $value.name"></span></li>{{/each}}
                        </ul>
                    </a>
                </li>
                </script>
                <li class="add">
                    <a href="#" data-bind="click: function () { useContainerScreen.isVisible(true); }"></a>
                </li>
            </ul>
        </div>
        <div class="pane" id="container" data-bind='visible: containerScreen.isVisible(), template: { name: "containerTemplate" }'>
            <script id="containerTemplate" type="text/x-jquery-tmpl">
                <a href="#" data-bind="click: function () { viewModel.containerScreen.container(null); }">Back</a>
                {{if containerScreen.container && containerScreen.container()}}
                <h2 data-bind="text: containerScreen.container().item().name"></h2>
                <ul>{{each containerScreen.container().item().ingredients}}
                    <li><span data-bind="text: $value.name"></span></li>{{/each}}
                    <li class="add"><a href="#" data-bind="click: function () { addIngredientScreen.isVisible(true); }">Add Ingredient</a></li>
                    <li class="add"><a href="#" data-bind="click: function () { addMethodScreen.isVisible(true); }">Add Method</a></li>
                </ul>
                {{/if}}
            </script>
        </div>
        <div class="pane" id="usecontainer" data-bind='visible: viewModel.useContainerScreen.isVisible(), template: { name: "useContainerScreen" }'>
            <script id="useContainerScreen" type="text/x-jquery-tmpl">
                <a href="#" data-bind="click: function () { viewModel.useContainerScreen.isVisible(false); }">Cancel</a>
                <ul>{{each resources.containers}}
                    <li><a href="#" data-bind="click: function () { viewModel.useContainerScreen.useContainer($value); }"><span data-bind="text: $value.name"></span></a></li>{{/each}}
                </ul>
            </script>
        </div>
        <div class="pane" id="addingredient" data-bind='visible: viewModel.addIngredientScreen.isVisible(), template: { name: "addIngredientScreen" }'>
            <script id="addIngredientScreen" type="text/x-jquery-tmpl">
                <a href="#" data-bind="click: function () { viewModel.addIngredientScreen.isVisible(false); }">Cancel</a>
                <ul>{{each resources.ingredients}}
                    <li><a href="#" data-bind="click: function () { viewModel.addIngredientScreen.addIngredient($value, viewModel.containerScreen.container()); }"><span data-bind="text: $value.name"></span></a></li>{{/each}}
                </ul>
            </script>
        </div>
        <div class="pane" id="addmethod" data-bind='visible: viewModel.addMethodScreen.isVisible(), template: { name: "addMethodScreen" }'>
            <script id="addMethodScreen" type="text/x-jquery-tmpl">
                <a href="#" data-bind="click: function () { viewModel.addMethodScreen.isVisible(false); }">Cancel</a>
                <ul>{{each resources.methods}}
                    <li><a href="#" data-bind="click: function () { viewModel.addMethodScreen.addMethod($value, viewModel.containerScreen.container()); }"><span data-bind="text: $value.name"></span></a></li>{{/each}}
                </ul>
            </script>
        </div>
    </div>
</section>
<ol id="actions" data-bind='template: { name: "actionsTemplate", foreach: actions }'>
    <script id="actionsTemplate" type="text/x-jquery-tmpl">
    <li>
        <span data-bind="text: name"></span>
    </li>
    </script>
</ol>
<%/ article%>