<div id="splash" data-bind="shortcuts: { 'up': up, 'down': down  }">
	<div class="container">
		<form data-bind="submit: submit">
			<input data-bind="value: refineByText, valueUpdate: 'afterkeydown', css: { shake: shouldShake }, hasFocus: hasFocus" autofocus class="form-control input-lg mousetrap-yes-up mousetrap-yes-down animated" type="text" placeholder="Type an article title...">
		</form>
		
		<br />
		
		<div class="list-group" data-bind="visible: limitedArticles().length > 0, foreach: limitedArticles">
			<a class="list-group-item" href="#" data-bind="css: { active: $parent.selectedIndex() == $index() }, click: $parent.selectArticle"><span data-bind="text: name"></span></a>
		</div>
		
		<span data-bind="visible: hasMore()">&hellip;</span>
		
		<div class="alert alert-info" data-bind="visible: refineByText().length > 0 && limitedArticles().length == 0">Press enter to create a new article</div>
	</div>
</div>